<!-- Pattern: SSO Input -->
<form>
<div class="{{ssoInput.class}}">
  <label for="{{ssoInput.input.id}}">{{ssoInput.label.content}}</label><br>
  <input type="text" id="{{ssoInput.input.id}}" name="{{ssoInput.input.name}}" minlength="{{ssoInput.input.minlength}}"
    maxlength="{{ssoInput.input.maxlength}}" pattern="{{ssoInput.input.pattern}}" placeholder="{{ssoInput.input.placeholder}}" {{ssoInput.input.required}}>
</div>
</form>
